<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <!--css-->
    <link rel="stylesheet" href="../common/oss_pc/oss/css/oss.min_new.css" />
    <link rel="stylesheet" href="../common/oss_pc/oss/iconfont/iconfont.css" />

    <!--ui-grid-->
    <!--<link rel="stylesheet" href="../common/oss_pc/widget/ui_grid/ui-grid.css" charset="UTF-8"/>-->

    <!-- ui-grid -->
    <link href="../common/ui_grid/css/ui-grid.css" rel="stylesheet" />
    <!--<link href="../common/ui_grid/osspage/skin/osspage.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">-->
<!--    <link rel="stylesheet" href="main.css" type="text/css">-->

    <script src="../common/angular-1.4.8/angular.js"></script>
    <script src="../common/angular-1.4.8/angular-touch.js"></script>
    <script src="../common/angular-1.4.8/angular-animate.js"></script>
    <script src="../common/angular-1.4.8/angular-aria.js"></script>

<!--    <script src="../common/ui_grid/js/ui-grid.min.js"></script>-->

  </head>
  <body>

<div ng-controller="MainCtrl">
  <div style="height: 40px;">{{"sss" | test}}</div>
  <button type="button" class="btn btn-success" ng-click="ttt()">ttt</button>
  <button type="button" class="btn btn-success" ng-click="ttt2()">ttt</button>

</div>

<hr>
<div>
  <p ng-pluralize count = "itemCount" when="{'0':'Cart is empty','1':'Cart is One'}">

  </p>
</div>


<ng-pluralize count="personCount" offset=2
              when="{'0': 'Nobody is viewing.',
                     '1': '{{person1}} is viewing.',
                     '2': '{{person1}} and {{person2}} are viewing.',
                     'one': '{{person1}}, {{person2}} and one other person are viewing.',
                     'other': '{{person1}}, {{person2}} and {} other people are viewing.'}">
</ng-pluralize>

    <script src="filterAsync.js"></script>
  </body>
</html>
