.notification-ring {
    border: 1px solid #ee0000;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -18px;
    right: -27px;
    animation: pulsate 8s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0
}
