<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../common/select2-3.5.3/select2.css" rel="stylesheet"/>
    <script src="../common/jquery1.9/jquery-1.9.1.min.js"></script>
    <script src="../common/select2-3.5.3/select2.js"></script>
    <script>
        $(document).ready(function() {
            var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, tag: 'invalid' }, { id: 4, tag: 'wontfix' }];

            $("#e10").select2({
                data:data
            });





        });
    </script>
</head>
<body>
<p>
    <input type="hidden"  id="e10" style="width:300px"/>
</p>
</body>

</html>
